input{
    display: block;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
label{
    display: block;
    margin-bottom: 10px;
}
button{
    display: block;
    margin-bottom: 10px;
}
.undone{
    text-decoration: line-through;
}