textarea {
    resize: none;
}

input,
textarea,
select {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

select {
    width: 80px;
}

a {
    color: black;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    display: block;
    margin-bottom: 10px;
}