/* GLOBAL STYLING */
html, body{
    margin: 0;
    height: 100%;
}

body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* MESSAGE STYLING */
.error {
    text-align: center;
    color: red;
    font-weight: bold;
}

.success {
    text-align: center;
    color: green;
    font-weight: bold;
}

/* VARIABLES */
:root {
    --done: #16A34A;
    --done-hover: #15803D;
    --delete: #DC2626;
    --delete-hover: #B91C1C;
    --edit: #FFD700;
    --edit-hover: #FFA500;
    --disabled-bg: #E5E7EB;
    --disabled-text: #9CA3AF;
}